<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<meta name="keywords" content="daniele bonaldo android kotlin wearables iot developer software engineer freelancer consultant github public speaking conference talk keynote blog post article community italy">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@danybony_">
<meta name="twitter:domain" content="danielebonaldo.com">
<meta name="twitter:title" content="Daniele Bonaldo">
<meta name="twitter:description" content="The personal website of Daniele Bonaldo. Android consultant, Google Developer Expert for Android, Wearables and IoT. Amateur photographer and traveler.">
<meta name="twitter:url" content="https://danielebonaldo.com">
<link href="https://androiddev.social/@daniele" rel="me">

<!-- end custom head snippets -->
